<a href="https://colab.research.google.com/github/LucyKinyua/Week1_MS/blob/main/Moringa_Data_Science_Prep_W1_Independent_Project_2021_04_Lucy_Kinyua_SQL_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

SQL Programming Exercise:
- You will act as a Data Science Consultant who will answer questions posed using a dataset collected by Dalberg.
- The dataset contains crops grown in Uganda.

Dataset Desription:

This dataset contains yield and population per subcounty.

The glossary for this table is as follows:
- POP: total population for the subcounty
- S_Yield_Ha: average yield for sorghum for the subcounty (Kg/Ha)
- M_Yield_Ha: average yield for maize for the subcounty (Kg/Ha)
- Crop_Area_Ha: total crop area for the subcounty (Ha)
- S_Area_Ha: total sorghum crop area for the subcounty (Ha)
- M_Area_Ha: total maize crop area for the subcounty (Ha)
- S_Prod_Tot: total productivity for the sorghum for the subcounty (Kg)
- M_Prod_Tot: total productivity for the maize for the subcounty (Kg)

Questions:
- Display a list of Sub Counties and their population and areas.
- Sort the list of districts by total crop area (descending order).
- Select only the Sub counties from the Moroto district, order them alphabetically and show their production of sorghum.
- Compute the total Maize production per District.
- Compute the number of Sub counties where Maize is produced and the total Maize production per District.
- Compute the overall Crop area in all Sub counties where population is over 20000.
- Sort the Maize production in descending order by Districts, only taking into account Sub counties where Maize area is larger than Sorghum area, and display the number of Sub counties per district matching that criteria.

In [ ]:
# First, I load an sql extension into this environment
# This extension will allow me to work with sql on Colaboratory
#
%load_ext sql

# Then, I connect to the in memory sqlite database
#
%sql sqlite://

'Connected: @None'

In [ ]:
# In order to read any csv file, I will need to import the python csv library
# This will allow me to read the csv file(s) that  will have uploaded to this environment
#
import csv

# I will also need a pandas library which is used for data manipulation in this notebook.
#
import pandas as pd

In [ ]:
# Upon uploading the csv file, I will then load the first table from the CSV file
#
with open('Uganda_Karamoja_Subcounty_Crop_Yield_Population.csv','r') as f:
    Uganda_Karamoja_Subcounty_Crop_Yield_Population = pd.read_csv(f, index_col=0, encoding='utf-8')

In [ ]:
# Drop existing tables similar to the one that I will work with in the current sqlite environment.

%sql DROP TABLE Uganda_Karamoja_Subcounty_Crop_Yield_Population;

 * sqlite://
(sqlite3.OperationalError) no such table: Uganda_Karamoja_Subcounty_Crop_Yield_Population
[SQL: DROP TABLE Uganda_Karamoja_Subcounty_Crop_Yield_Population;]
(Background on this error at: http://sqlalche.me/e/14/e3q8)

In [ ]:
# Then push the data into a new table within the current sqlite Database
#
%sql PERSIST Uganda_Karamoja_Subcounty_Crop_Yield_Population;

 * sqlite://

'Persisted uganda_karamoja_subcounty_crop_yield_population'

In [ ]:
# Previewing the Uganda_Karamoja_Subcounty_Crop_Yield_Population table
#
%%sql
SELECT * FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population LIMIT 5;

 * sqlite://
Done.

[(263, 'KACHERI', 'KOTIDO', 17244, 1067176155, 'Y', 354.20741069999997, 1137.467019, 7023.533691, 6434.342449, 528.1242294, 2279091.779, 600723.8929),
 (264, 'KOTIDO', 'KOTIDO', 52771, 597575188, 'Y', 367.89052319999996, 1162.9966869999998, 13587.990759999999, 12455.59264, 824.7670809, 4582294.492, 959201.3825),
 (265, 'KOTIDO TOWN COUNCIL', 'KOTIDO', 27389, 23972401, 'Y', 369.3141771, 1167.005832, 1656.5318550000002, 1520.322052, 8.561643817, 561476.4874, 9991.488268000001),
 (266, 'NAKAPERIMORU', 'KOTIDO', 38775, 419111591, 'Y', 283.3245689, 852.3665784, 7087.823334000001, 6761.488901000001, 45.72171184, 1915695.928, 38971.65908),
 (267, 'PANYANGARA', 'KOTIDO', 65704, 880955930, 'Y', 373.8369255, 1283.859882, 10398.24939, 10111.198129999999, 172.6119139, 3779939.224, 221609.5114)]

In [ ]:
#Display a list of Sub Counties and their population and areas.
#
%%sql
SELECT SUBCOUNTY_NAME, POP, Area FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population;

 * sqlite://
Done.

[('KACHERI', 17244, 1067176155),
 ('KOTIDO', 52771, 597575188),
 ('KOTIDO TOWN COUNCIL', 27389, 23972401),
 ('NAKAPERIMORU', 38775, 419111591),
 ('PANYANGARA', 65704, 880955930),
 ('RENGEN', 41273, 652744859),
 ('KAABONG  EAST', 42221, 60801942),
 ('KAABONG TOWN COUNCIL', 38857, 13071455),
 ('KAABONG WEST', 41454, 67612362),
 ('KALAPATA', 99203, 223116860),
 ('KAMION', 60070, 1199409465),
 ('KAPEDO', 33951, 304557831),
 ('KATHILE', 56870, 228457417),
 ('KAWALAKOL', 37691, 1742041261),
 ('LOBALANGIT', 22907, 302572789),
 ('LODIKO', 31820, 397700845),
 ('LOLELIA', 100919, 1069331387),
 ('LOYORO', 16608, 1330019236),
 ('NAPORE (KARENGA)', 20394, 309577387),
 ('SIDOK', 24092, 125330583),
 ('ABIM', 14377, 188613057),
 ('ABIM TOWN COUNCIL', 11489, 115941152),
 ('ALEREK', 12573, 1255760525),
 ('LOTUKEI', 18641, 191684465),
 ('MORULEM', 16834, 250364895),
 ('KARITA', 45015, 658008801),
 ('LOROO', 22541, 371970302),
 ('AMUDAT', 30181, 596393139),
 ('AMUDAT TOWN COUNCIL', 4053, 17207110),
 ('KATIKEKILE', 11772, 277451997),
 ('NADUNGET', 42115, 596023780),
 ('TAPAC', 21999, 622266516),
 ('NORTHERN DIVISION', 7161, 2738777),
 ('SOUTHERN DIVISION', 3272, 2121209),
 ('LOREGAE', 26644, 928683431),
 ('NAKAPIRIPIRIT TOWN COUNCIL', 1418, 4673094),
 ('NAMALU', 25905, 553067364),
 ('KAKOMONGOLE', 15960, 312709097),
 ('LOLACHAT', 22801, 642401705),
 ('LORENGEDWAT', 9929, 435714604),
 ('NABILATUK', 27534, 499776866),
 ('IRIIRI', 46979, 1030623258),
 ('LOPEEI', 18815, 790782350),
 ('LORENGECORA', 2503, 118997955),
 ('LOTOME', 17834, 125857565),
 ('MATANY', 29495, 338252511),
 ('NAPAK TOWN COUNCIL', 8010, 150906375),
 ('NGOLERIET', 20790, 158887552),
 ('NYAKWAE', 16470, 769609687),
 ('LOKOPO', 23200, 1794470536),
 ('RUPA', 41493, 2069554899),
 ('MORUITA', 16588, 839293722)]

In [ ]:
# Sort the list of districts by total crop area (descending order).
#
%%sql
SELECT DISTRICT_NAME FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
ORDER BY Crop_Area_Ha DESC;

 * sqlite://
Done.

[('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KOTIDO',),
 ('KAABONG',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('KAABONG',),
 ('NAKAPIRIPIRIT',),
 ('NAKAPIRIPIRIT',),
 ('NAPAK',),
 ('NAPAK',),
 ('KAABONG',),
 ('KAABONG',),
 ('AMUDAT',),
 ('MOROTO',),
 ('KAABONG',),
 ('MOROTO',),
 ('NAKAPIRIPIRIT',),
 ('KAABONG',),
 ('NAPAK',),
 ('KOTIDO',),
 ('AMUDAT',),
 ('AMUDAT',),
 ('KAABONG',),
 ('KAABONG',),
 ('ABIM',),
 ('NAPAK',),
 ('NAKAPIRIPIRIT',),
 ('MOROTO',),
 ('NAPAK',),
 ('KAABONG',),
 ('ABIM',),
 ('KAABONG',),
 ('KAABONG',),
 ('KAABONG',),
 ('ABIM',),
 ('ABIM',),
 ('NAPAK',),
 ('ABIM',),
 ('ABIM',),
 ('KAABONG',),
 ('KAABONG',),
 ('MOROTO',),
 ('AMUDAT',),
 ('NAKAPIRIPIRIT',),
 ('MOROTO',),
 ('MOROTO',)]

In [ ]:
# Select only the Sub counties from the Moroto district,...
# ... order them alphabetically and show their production of sorghum.
#
%%sql
SELECT SUBCOUNTY_NAME, S_Prod_Tot FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE DISTRICT_NAME = 'MOROTO'
ORDER BY SUBCOUNTY_NAME ASC;

 * sqlite://
Done.

[('KATIKEKILE', 9379.029413),
 ('NADUNGET', 321630.539),
 ('NORTHERN DIVISION', 17.28125956),
 ('RUPA', 227298.5184),
 ('SOUTHERN DIVISION', 19.67486547),
 ('TAPAC', 49251.66081)]

In [ ]:
# Compute the total Maize production per District.
#
%%sql
SELECT DISTRICT_NAME, COUNT (M_Prod_Tot) FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
GROUP BY DISTRICT_NAME;

 * sqlite://
Done.

[('ABIM', 6),
 ('AMUDAT', 4),
 ('KAABONG', 14),
 ('KOTIDO', 6),
 ('MOROTO', 6),
 ('NAKAPIRIPIRIT', 8),
 ('NAPAK', 8)]

In [ ]:
# Compute the number of Sub counties where Maize is produced...
# ... and the total Maize production per District.
#
%%sql
SELECT DISTRICT_NAME, M_Prod_Tot, COUNT (SUBCOUNTY_NAME) FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE M_Prod_Tot > 0
GROUP BY DISTRICT_NAME;

 * sqlite://
Done.

[('ABIM', 258010.2444, 6),
 ('AMUDAT', 2081.356199, 4),
 ('KAABONG', 136265.6835, 14),
 ('KOTIDO', 179681.139, 6),
 ('MOROTO', 155838.875, 5),
 ('NAKAPIRIPIRIT', 1198586.875, 8),
 ('NAPAK', 414509.6206, 8)]

In [ ]:
# Compute the overall Crop area in all Sub counties where population is over 20000.
#
%%sql
SELECT COUNT (Crop_Area_Ha) FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE POP > 20000;

 * sqlite://
Done.

[(32,)]

In [ ]:
# Sort the Maize production in descending order by Districts,...
# ... only taking into account Sub counties where Maize area is larger than Sorghum area,
# ... and display the number of Sub counties per district matching that criteria.
#
%%sql
SELECT DISTRICT_NAME, M_Prod_Tot, COUNT(SUBCOUNTY_NAME) FROM Uganda_Karamoja_Subcounty_Crop_Yield_Population
WHERE M_Area_Ha > S_Area_Ha
GROUP BY DISTRICT_NAME
ORDER BY DISTRICT_NAME DESC;

 * sqlite://
Done.

[('NAPAK', 291177.2726, 2),
 ('NAKAPIRIPIRIT', 1198586.875, 3),
 ('MOROTO', 46.22440465, 3),
 ('KAABONG', 934881.6576, 3),
 ('AMUDAT', 1340672.952, 1)]